<!DOCTYPE html>
<html>

<head>
    <title>arXiv Papers</title>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                processEscapes: true,
                macros: {
                    RR: "\\mathbb{R}",
                    VV: "\\mathbb{V}",
                    VVV: "\\mathcal{V}",
                    ZZ: "\\mathbb{Z}"
                }
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>
</head>

<body>
    <h1>arXiv Papers</h1>
    {% for paper in papers %}
    <div>
        <h2>{{ paper.title }}</h2>
        <p><strong>Published:</strong> {{ paper.published }}</p>
        <p><strong>Authors:</strong> {{ paper.authors }}</p>

        {% if paper.categories %}
        <p><strong>Categories:</strong>
            {% for category in paper.categories %}
            {% if category.is_primary %}
            <span><strong>{{ category.term }}</strong></span>{% if not loop.last %}, {% endif %}
            {% else %}
            <span>{{ category.term }}</span>{% if not loop.last %}, {% endif %}
            {% endif %}
            {% endfor %}
        </p>
        {% endif %}

        <p><strong>Abstract:</strong><br>{{ paper.summary | safe }}</p>
        <p>
            <a href="{{ paper.url }}">arXiv Page</a> |
            <a href="{{ paper.pdf_url }}">PDF</a>
        </p>
    </div>
    <hr>
    {% endfor %}

    <script>
        window.addEventListener("load", () => {
            if (window.MathJax) {
                MathJax.typeset();
            }
        });
    </script>
</body>

</html>